<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="images/css/bootstrap.min.css" rel="stylesheet">
</head>
<body background="images/LoginImage.jpg">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-brand">Mymail</p>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><button type="button" class="btn btn-danger">Sign in</button></a></li>
            </ul>
        </div>
    </div>
</nav><br><br><br><br><br>
<div class="container-fluid">
    <div class="row"><center><font color="white"><h2>Create your New Mymail Account</h2></font></center></div><br><br>
    <form method="get" action="">
        <div class="row">
            <div class="col-sm-6 col-md-6 " style="width:480px;height:620px"></div>
            <div class="col-sm-6 col-md-6 " style="position:absolute;right:10px;">
                &nbsp;&nbsp;&nbsp;<font color="white">Please choose your username&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;How old are you</font><br><br>&nbsp;&nbsp;&nbsp;<input type="text" name="username">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="age"><br><br>
                &nbsp;&nbsp;&nbsp;<font color="white">Please choose your password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You are....?</font><br><br>&nbsp;&nbsp;&nbsp;<input type="password" name="password">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="gender"><br><br>
                &nbsp;&nbsp;&nbsp;<font color="white">Please confirm your password</font><br><br>&nbsp;&nbsp;&nbsp;<input type="password" name="confirm"><br><br>
                &nbsp;&nbsp;&nbsp;<font color="white">Your Email Account</font><br><br>&nbsp;&nbsp;&nbsp;<input type="text" name="username"><br><br>
                &nbsp;&nbsp;&nbsp;<font color="white">Please input email password</font><br><br>&nbsp;&nbsp;&nbsp;<input type="password" name="password"><br><br>
                &nbsp;&nbsp;&nbsp;<font color="white">Please confirm your password</font><br><br>&nbsp;&nbsp;&nbsp;<input type="password" name="confirm">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<form method="get" action=""><input type="submit" value="Test Email Connection" class="btn btn-primary"></form><br><br>
                &nbsp;&nbsp;&nbsp;<input type="reset" class="btn btn-warning" value="Reset">&nbsp;&nbsp;&nbsp;<input type="submit" value="Submit" class="btn btn-danger"><br><br><br><br>
            </div>
        </div>
    </form>
</div>
<script src="images/jquery-2.1.1.min.js"></script>
<script src="images/js/bootstrap.min.js"></script>
</body>
</html>